<nav class="navbar navbar-inverse navbar-expand-lg navbar-light bg-light">
  <%= link_to 'Messaging Board', posts_path, class: 'navbar-brand' %>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <ul class="nav navbar-nav">
        <li><%= link_to 'New Post', new_post_path, class: 'pull-right' %></li>
        <% if user_signed_in? %>
          <li><%= link_to 'Logout', destroy_user_session_path, method: :get %></li>
        <% end %>
      </ul>
    </ul>
  </div>
</nav>